*{
   box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  /*colors that we're gonna use*/
  /*liniar colors*/
  --lightorange: #FF9D17;
  --darkerorange: #FA4301;
  /* palete colors*/
  --darkOrange: #FB4402;
  --lightOrange: #FF8B13;
  --grey: #F2F2F2;
  --wight: #FFFF;
  --black: #1C1B1B;
  --text-color: #888888;
  --biocolor: #FF8B13;
  --text-color-onhover: #6d6d6d;
  --text-color-onhoverOrange: #e07502;


}
a{
  text-decoration: none;
  color: var(--text-color);
  
}

/*the self profile styling*/


.profilepage{
  
  background-color: var(--grey);
  min-height: 100vh;
  min-width: 100vw;
  
  
}




/* the flex */
.flex{
  display:flex;
  background-color: var(--grey);
  justify-content: center !important;
  
  min-width: 100%;
}
.secondflex{
  
  max-width: 1350px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  background-color: var(--grey);
  min-width: none;
  max-width: 1350px;
}
/* Othera profile styling*/

.secondflex-forothers-profiles{
 
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  min-width: 100%;
}
.secondflex-wraper{
  max-width: 1120px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  background-color: var(--grey);
  min-width: none;
  
}
@media (max-width: 1380px){
  .secondflex{
    min-width: none;
  }
  .userinfo{
    max-width: 740px;
  }
  .info{
    min-width: none;
  }
  .pictures{
    flex-wrap: nowrap;
  }
  .name {
    font-weight: bolder;
    font-size: 1.2em;
    padding: 0.4em 0;
    padding-top: 1em;
  }
  .bio{
    color: red;
    line-height: 1em;
    font-size: large;
  }
  .secondflex-wraper{
    max-width: 740px;
  }
}

/* profile left bar styling*/

.ProfileLeftBar{
  background-color: var(--wight);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 15em;
  max-width: 100px;
  max-height: 30em;
  box-shadow: 2px 2px 2px 2px #d2d2d23e;
  margin-left: 10px;
}


.responsiveleftbar{
  background-color: var(--wight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px 2px #d2d2d23e;

}
.list{
  padding: 1em;
}
.listing-page{
  
  color: var(--biocolor);
}
.list.logo{
  padding: 2em;
}
.list.logo img{
  max-width: 5em;
  max-height: 5em;

}
.list.line{
  background-color: var(--text-color);
  padding : 0.03em;
  width: 150px;
  max-height: 2px;
  
}
.list.Add-Publication{
  padding: 2em;
}
.icon{
  
}
.list:hover{
   color: var(--biocolor);
}
.list.listing-page:hover{
  color: var(--text-color-onhoverOrange);

}
.list.Logout{
  margin-bottom: 2em;
}

/*user info styling*/
.userinfo{
  max-width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wight);
  border-radius: 1em;
  flex-grow: 1;
  margin: 0em 0.5em;
  
  box-shadow: 2px 2px 2px 2px #cacaca3e;
  min-width: none;
}
img.profile{
  padding: 2em;
  border-radius: 50%;
  max-width: 12.5em;
  max-height: 12.5em;
 
}
.info{
  display: flex;
  flex-direction: column;
  min-width: 700px;
  max-width: 700px;
  margin-left: 40px;
}
.name {
  font-weight: bolder;
  font-size: 1.7em;
  padding: 0.4em 0;
  padding-top: 1em;
}
.bio{
  color: var(--biocolor);
  line-height: 1.5em;
  font-size: large;
}

.readbtn{
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding-left: 0.7em;
}
/*profile nav bar*/
.ProfileNavbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
  min-width: 100%;

}
.right-nav{
  display: flex; 
  justify-content: center;
  align-items: center;
}

.profile-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  margin: 1em;
  background-image: linear-gradient(to right, #FA4301 , #FF9D17);
  margin: 0.5em 0.3em;
  border-radius: 1rem;
}
.profile-button img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 0.3em;
}

.bell{
  padding: 1em;
  position:relative;
  top: 0.2em;
}
.back{
  padding: 0.5em 1em;
  background-color:var(--text-color);
  color : var(--wight);
  margin-left:  0.3em;
  margin-right: 1em;
  border-radius: 1rem;
}
.arrows{
  position:relative;
  top: 0.2em;
}
.Thearrow{
  position:relative;
  top: 0.2em;
}
.phone-responsive-icon{
  padding-left : 1em; 
}
.res-icon{
  display: none;
}
/* intrests and WIlaya styliny*/

.Oneintrest{
  padding: 0.5em;
  border: solid black ;
  border-width: 0.05em;
  border-radius: 1rem;
  margin: 0.2em 0.4em;
  padding: 0.4em 0.5em;
 margin-top: 0.5em;
}

.itrests{
  display: flex;
  max-width: 30em;
  flex-wrap: wrap;
}
.Wilaya{
  display: flex;
  max-width: 30em;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.oneWilaya{
  padding: 0.5em;
  border: solid var(--biocolor) ;
  color: var(--biocolor);
  border-width: 0.05em;
  border-radius: 1rem;
  margin: 0.5em 0.4em;
  padding: 0.4em 0.5em;
 
}
/*picture styling*/

.pictures{
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;

}
.picture{
  max-width: 350px;
  min-width: none;
  height: 300px;
  margin :10px ;
  border-radius: 30px;
  
}

/*the saving page styling*/

.savelist{
   display: flex;
   align-items: flex-start;
}
.cardcontainer{
  display: flex;
  flex-wrap: wrap;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0em 10px;
  margin-bottom: 20px;
  
}
.savingcardimage{
  border-radius: 10px;
  height: 250px;
  width: 250px;
  box-shadow: 2px 2px 2px 2px #7b7b7b3e;

}
.locationqndseemore{
  display: flex;
  width: 191px; 
  justify-content: space-between;
  font-size: small;
}
.carddiscription{
  background-image: linear-gradient(to top, #000000, #00000000);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0;
  border-radius: 10px;
  color: white;
  height: 80px;
  top: 170px;
}
.savelistpage{
  background-color: var(--grey);
  height: 100vh;
}
.placename{
  margin-top: 10px;
}
.seemoresavingcard{
  padding-top: 10px;
  color: var(--biocolor);
}


/*change the account drop down*/

.changeaccount{
  position: absolute;
  background-color: white;
  right: -60px;
  top:  30px;
  z-index: 3;
  padding: 2em;
  border-radius: 8px;
  border: 1px solid var(--text-color-onhover);

}
.switchaccount{
  display: flex;
  color: black;
  
}
.switch{
  white-space: nowrap;
}
.switchaccoutnicon{

}

/* publication styling*/


.publicationcomponent{

  position: fixed;
  top : 0; 
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 00.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.publicationcontainer{
  background-color: white;
  border-radius: 10px;
  padding : 20px;
  
}
img.picture{
  width : 400px;
  
}
.likesandcaption{
  padding: 20px;
}
.thelikes{
  display: flex;
  margin-bottom: 20px;
}
.likes{
  margin-left: 10px;
}
.clossing{
  cursor: pointer;
}
.whiteheart{
  

}
.redheart{
  color: red;
}




/* the setings styling*/ 

.setingspage{
  background-color: var(--grey);
  min-height: 100vh;
}

.UpdateHobies,
.changeprofilepicwarper,
.UpdatePlaces,
.namechangewrapper{
  background-color: var(--wight);
  border-radius: 10px;
  font-size: larger;
  box-shadow: 2px 2px 2px 2px #d2d2d23e;
  padding: 20px;
  margin-bottom: 10px;
}
.setingsandleftbar{
  display: flex;
}

.allthesetings{
  flex-grow: 1;
  max-width: 900px;
  margin: 0px 40px;
  
}

.arrowandchange{
  display: flex;
  justify-content: space-between;
}
.passinput,
.wilayainput,
.nameinput{
  display: flex;
  align-items: center;
  margin-top: 30px;
  
}
.newilayatext,
.newprofiletext{
  margin-right: 20px;
}
.addwilayabtn,
.changenamebtn{
  background-color:white;
  border: none;
  margin-left: 20px;
  color: var(--biocolor);
  font-size: 20px;
  cursor: pointer;
}

input.changeinput{
  width: 300px;
  height: 40px;
  border-radius: 5px;
  margin-left: 30px;
  border:solid 1px;

}
textarea.changetextarea:focus,
input.changeinput:focus{
  outline: none;
  font-size: large;
  margin-left: 30px;
}

textarea.changetextarea{
  min-width: 500px;
  min-height: 200px;
}
.oldpassatext{
  width: 200px;
}




/* add publication */
.addpub-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--grey);

}
.addpub-and-leftbar{
  display: flex;
}
.addpub-container{
   background-color: white;
   border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #cacaca3e;
   margin-left: 20px;
   min-width: 800px;
   height: 500px;
}

.addpub-form{

  border: 2px dashed var(--biocolor);
  border-radius: 20px;
  margin: 5px 20px;
  margin-top: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
  height: 200px;
  width: 200px;
}

img.img-uploaded{
  width: 150px !important;
  height: 150px !important;
}
.add-pub-text{
  margin: 20px;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}
.delete-containe{
  display:flex; 
  align-items: center;
  height: 40px;
  width: 200px;
  margin-left: 20px;
  background-color :  #ffe8cf;
  border-radius: 10px;

}
.add-dis-contan{
  margin-left: 20px;
  
}
.add-dis-textarea{
  width: 300px;
  height: 200px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
}
.add-dis-text{
  font-size: large;
}

.Post{
  background-image: linear-gradient(to right, #FA4301 , #FF9D17);
  border: none; 
  color: white; 
  padding: 1.2em 3.5em;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  
}
/* add pub res*/
@media (max-width: 1082px){
  .addpub-container{
    min-width: 400px;
  }
  .add-pub-text{
    text-align: start;
  }
}
@media (max-width : 606px){
  .add-pub-flex{
    flex-direction: column;
  }
  .addpub-container{
    height: 800px;
  }
  .add-dis-contan{
      margin-top: 20px;
  }
}

@media (max-width :390px){
  .addpub-container{
    min-width: 360px !important;
    margin: auto;
  }
}


/*kvdx*/
@media (max-width: 1356px){
  .secondflex{
    min-width: none;
    max-width: none;
  }
  .userinfo{
    max-width: 740px;
    flex-grow: 0;
  }
  .info{
    min-width: 400px;
  }
  .pictures{
    
  }
  .name {
    font-weight: bold;
    font-size: 1,5em;
    padding: 0.2em 0;
    padding-top: 1em;
  }
  .bio{
    color: var(--biocolor);
    line-height: 1.5em;
    font-size: 1em;
  }
  .biotext{
    max-width: 450px;
  }
}


@media (max-width: 994px) {
  .ProfileLeftBar{
    display: none;
  }
  .res-icon{ 
   display: block;
    height: 1.5em;
    width: 1.5em;
  }
  img.profile{
    
  }
  .secondflex{

    justify-content: center;
    align-items: center;
  }
  .pictures{
    justify-content: center;
  }
}
@media (max-width:744px){
  .userinfo{
    max-width: 460px;
    flex-grow: 0;
    min-width: none;
  }
  .info{
    min-width: 200px;
  }
  img.picture{
    width: 220px;
    height: 200px;
    margin: 5px;
    
    
  }
  .pictures{
    max-width: 480px;

  }  .name {
    font-weight: bold;
    font-size: 1,35em;
    padding: 0.2em 0;
    padding-top: 1em;
  }
  .bio{
    color: var(--biocolor);
    line-height: 1.5em;
    font-size:1em;
  }
  .biotext{
    max-width:300px;
  }
}

@media (max-width: 992px){
    .cardcontainer{
        justify-content: center;
    }
    .ProfileNavbar{
      display: block;
    }
    
  }

  /*setings responsive*/


  @media (max-width: 722px){
    input.changeinput{
     width: 150px;
     margin-left: 0px;
    }
    textarea.changetextarea:focus,
    input.changeinput:focus{
      margin-left: 10px;
    }
    .UpdateHobies,
      .changeprofilepicwarper,
      .UpdatePlaces,
      .namechangewrapper{
          font-size: 15px;
     }

     .allthesetings{
      margin: 0px 10px;
     }
     textarea.changetextarea{
      min-width: 300px !important;
     }
     .oldpassatext{
      width: 100px;
     }
  }
















